.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group input,
.input-group textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #000;
}


.input-group input.ng-invalid.ng-touched,
.input-group textarea.ng-invalid.ng-touched {
  border-color: red;
}


small {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #b8f09f;
}

button:disabled {
  background: #f37b7b;
  cursor: not-allowed;
}
.container {
  display: flex;
  min-height: 100vh;
}

.form-section {
  width: 50%;
  padding: 40px;
}

.info-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.icon {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 15px;
  transition: 0.3s;
}

.icon i {
  font-size: 40px;
  color: white;
}


.icon:hover {
  transform: scale(1.1);
  background: #333;
}
.icon {
  text-decoration: none; 
  border: none;
  outline: none;
}

.icon i {
  text-decoration: none;
}

.icon:focus,
.icon:active {
  outline: none;
}