.accordion-item {
  background-color: #ffffff;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.accordion-button {
  background-color: rgb(201, 248, 197);
  color: rgb(0, 0, 0);
  border: none;
  font-weight: bold;
  transition: transform 0.8s ease;
}
.accordion-button:hover {
  transform: scale(0.98);
}