
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}


.card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(247, 247, 247, 0);
  transition: transform 0.4s ease, box-shadow 0.8s ease;
  font-weight: bold;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
}

.card.main {
  background: linear-gradient(135deg, #8fcfe9, #a4f1af);
  color: #000000;
  text-align: center;
}

.card.main h1 {
  margin: 0;
  font-size: 2rem;
  color: #000000;
}

.card.main p {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #000000;
}


.card h2 {
  margin-top: 0;
  margin-bottom: 12px;
  color: #90f3e2;
  font-weight: bold;
}


.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card ul li {
  padding: 8px 0;

}


.stats-wrapper {
  display: flex;
  gap: 20px;
}

.stats-wrapper .card.stats {
  flex: 1;
}


.card.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: #b9f8addc;

}

.card.stats div {
  flex: 1;
  padding: 15px;

}

.card.stats div:last-child {
  border-right: none;
}

.card.stats strong {
  font-size: 1.5rem;
  color: #000000;
}


button[routerLink] {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  background: #8de2ba;
  color: #000000;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.6s ease, transform 0.5s ease;
  font-weight: bold;
}

button[routerLink]:hover {
  background: #000000;
  transform: scale(1.02);
  color: #fff;
}


@media (max-width: 700px) {
  .stats-wrapper {
    flex-direction: column;
  }

  .card.stats {
    flex-direction: column;
  }

  .card.stats div {
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .card.stats div:last-child {
    border-bottom: none;
  }
}

